* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}
header {
    background-color: rgb(158, 173, 240);
    padding: 2rem;
}
#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    main {
        display: flex;
        height: 100%;
        button {
            padding: 0 0.5rem ;
            margin: 0.2rem;
        }
    }
}
.left-panel {
    height: 100%;
    width: 350px;
    padding: 20px;
    background-color: rgb(145, 149, 167);
    .home {
        display: flex;
        flex-direction: column;
    }
    .project-list {
        background-color: rgb(180, 182, 198);
        display: flex;
        flex-direction: column;
        .list-item-container {
            display: flex;
            justify-content: space-between; 
        }
        .edit-container {
            display: flex;
        }
        .edit-active {
            background-color: rgb(106, 126, 255);
        }
    }
}

.right-panel {
    flex: 1;
    height: 100%;
    padding: 20px;
    background-color: rgb(192, 211, 255);
    .task-item-container {
        display: flex;
        justify-content: space-between; 
        background-color: rgb(180, 182, 198);
        margin-bottom: 0.3rem;
    }
    .task-item-container.checked {
        background-color: rgba(180, 182, 198, 0.4);
        .task-btn {
            text-decoration: line-through;
            opacity: 0.4;
        }
        .task-date {
            opacity: 0.4;
        }
    }
    .task-edit-active {
        background-color: rgb(106, 126, 255);
    }

}

.hidden {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(94, 109, 152);
}

/* Modal screen */
.modal {
    color: #202d3f;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 1;
    background-color: #f3faff;
    width: min(90%, 350px);
    font-size: 1rem;
    font-weight: 600;
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
.modal h3 {
    padding: 1rem;
    color: #1d1d1d;
    background-color: rgb(164, 169, 183);
}
#overlay {
    transition: z-index 1s ease;
    position: fixed;
    z-index: 0;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none; 
}
#overlay.active {
    opacity: 1;
    pointer-events: all;  /*  Avoids clicking the elements underneath the modal container */
}