//page component colors
$header: rgb(184 192 226);
$left-panel: rgb(241, 244, 246);
$right-panel: rgb(255, 255, 255);
$footer: rgb(205 209 229);

//text colors
$dark: rgb(32, 32, 32);
$dark-opacity: rgba(32, 32, 32, 0.4);
$gray: rgb(136, 136, 136);
$header-text: rgb(30, 61, 93);

//shadows
$shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

//button colors
$task-bg: rgb(252, 252, 252);
$task-bg-checked: rgba(195, 203, 216, 0.35);
$nav-hover-bg: rgb(217, 220, 227);
$nav-active-bg: rgb(217, 220, 227);
$task-edit-bg: rgb(188, 207, 233);
$project-edit-bg: rgb(217, 220, 227);
$form-button: rgb(99, 116, 158);
$form-button-hover: rgb(99, 116, 158);
$form-button-hover: rgb(74, 88, 126);

//checkbox colors
$border-none: rgb(121, 121, 121);
$border-low: rgb(93, 116, 249);
$border-medium: rgb(232, 131, 7);
$border-high: rgb(220, 45, 45);
$bg-none: rgb(244, 244, 244);
$bg-low: rgb(220, 231, 255);
$bg-medium: rgb(255, 241, 220);
$bg-high: rgb(243, 218, 218);
$bg-none-checked: rgb(215, 215, 215);
$bg-low-checked: rgb(197, 215, 255);
$bg-medium-checked: rgb(255, 229, 190);
$bg-high-checked: rgb(253, 207, 207);

//Modal screen colors
$modal-bg: rgb(236 236 236);
$modal-header: rgb(164, 169, 183);
$modal-title: rgb(29, 29, 29);
$modal-text: rgb(32, 45, 63);
$modal-overlay: rgba(0, 0, 0, 0.5);

* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: $dark;
}
body {
    overflow-x: hidden;
}
header {
    display: flex;
    align-items: center;
    background-color: $header;
    padding: 1rem 2rem;
    h1 {
        font-family: 'Alata', sans-serif;
        color: $header-text;
    }
    img { 
        width: 40px;
        margin-right: 0.4rem;
    }
}
#content {
    height: 100vh;
    display: grid;
    grid-template-rows: 10fr 2rem;
    main {
        display: flex;
    }
}
button:not(form button){
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 0.9rem;
}
img {
    width: 23px;
    user-select: none;
}
.edit-btn, .remove-btn {
    padding-top: 0.15rem;
    img {
        width: 20px;
        margin-right: 0.3rem;
    }
}
.edit-btn:hover, .remove-btn:hover {
    img {
        filter: brightness(10%) contrast(10%);
    }
}
.btn-container {
    display: flex;
    align-items: center;
}
.left-panel .active {
    background-color: $nav-active-bg;
    border-radius: 5px;
}
form + button:hover {
    background-color: $nav-hover-bg;
    border-radius: 5px;

}
.home > button, .project-btn, #open-project-form, #open-task-form {
    padding: 0.15rem 0;
    img {
        margin-right: 0.3rem;
    }
}

//Left panel container
.left-panel-container {
    display: flex;
    flex-direction: column;
}
//Left panel
.left-panel {
    height: 100%;
    width: 350px;
    padding: 20px;
    background-color: $left-panel;
    .home, .projects {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        font-weight: 100;
    }
    .nav-btn:hover {
        background-color: $nav-hover-bg;
        border-radius: 5px;
    }
    .project-btn:focus-within .edit-container { 
            display: flex;
            align-items: center;
    }
    .projects h3 {
        margin-top: 2rem;
    }
    .projects > button, #project-form {
        margin-top: 1rem;
    }
    .project-list {
        .project-btn {
            display: flex;
            justify-content: space-between; 
            cursor: pointer;
        }
        .project-btn:hover {
            background-color: $nav-hover-bg;
            border-radius: 5px;
            .edit-container { 
                display: flex;
                align-items: center;
            }
        }
        .edit-container {
            display: none;
        }
    }
    .edit-active {
            background-color: $project-edit-bg;
            .edit-container { 
                display: flex;
                align-items: center;
            }
    }
}
//Right panel
.right-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 900px;
    margin-left: 5%;
    margin-top: 4rem;
    padding: 20px;
    background-color: $right-panel;
    .title-container {
        display: flex;
        align-items: center;
        margin-bottom: 1.4rem;
        img { 
            width: 30px; 
            margin-right: 0.6rem;
        }
        img[src*="box"] {
            filter: invert(60%) sepia(46%) saturate(322%) hue-rotate(103deg) brightness(90%) contrast(93%);
        }
    }
    #open-task-form {
        margin-top: 1rem;
    }
    .task-item-container {
        display: flex;
        justify-content: space-between; 
        align-items: flex-start;
        background-color: $task-bg;
        border-radius: 5px;
        margin-bottom: 0.5rem;
        box-shadow: $shadow;
        .task-title {
            margin-right: 2rem;
        }
        .task-btns-container {
            display: flex;
            .task-date {
                white-space:nowrap;
                margin: 0 3rem;
                min-width: 80px; //fix label alignment
            }
        }
        .checkbox-container {
            display: flex;
            .task-checkbox {
                appearance: none;
                aspect-ratio: 1;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 3px solid $border-none;
                background-color: $bg-none;
                position: relative;
                padding: 10px;
                margin-right: 10px;
                cursor: pointer;
            }
            .task-checkbox.low {
                border: 3px solid $border-low;
                background-color: $bg-low;
            }
            .task-checkbox.medium {
                border: 3px solid $border-medium;
                background-color: $bg-medium;
            }
            .task-checkbox.high {
                border: 3px solid $border-high;
                background-color: $bg-high;
            }

            .task-checkbox::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(225deg) scale(1, -1);
                width: 3px;
                height: 9px;
                border: 3px solid $border-none;
                border-left: 3px solid $border-none;
                border-top: none;
                border-right: none;
                opacity: 0; 
            }
            .task-checkbox.low::before {
                border-color: $border-low;;
                border-left-color: $border-low;
            }
            .task-checkbox.medium::before {
                border-color: $border-medium;;
                border-left-color: $border-medium;
            }
            .task-checkbox.high::before {
                border-color: $border-high;;
                border-left-color: $border-high;
            }

            .task-checkbox:hover::before  {
                opacity: 0.4;
            }

            .task-checkbox:checked, .task-checkbox:hover {
                background-color: $bg-none-checked;
            }
            .task-checkbox.low:checked, .task-checkbox.low:hover {
                background-color: $bg-low-checked;
            }
            .task-checkbox.medium:checked, .task-checkbox.medium:hover {
                background-color: $bg-medium-checked;
            }
            .task-checkbox.high:checked, .task-checkbox.high:hover {
                background-color: $bg-high-checked;
            }
            .task-checkbox:checked::before {
                opacity: 1;
            }
        }
    }
    .task-item-container.checked {
        background-color: $task-bg-checked;
        .task-title {
            text-decoration: line-through;
            color: $dark-opacity;
        }
        .task-date, .task-priority {
            color: $dark-opacity;
        }
    }
    .edit-active, .task-item-container.checked.edit-active {
        background-color: $task-edit-bg;
    }

    //Task labels
    .task-item-container:first-of-type {
        margin-top: 30px;
    }
    .task-priority, .task-date, .task-title  {
        position: relative;
        padding-top: 0.25rem;
    }
    
    @mixin before-pseudo-style {
        position: absolute;
        bottom: 100%;
        transform: translate(0, -8px);
        color: $gray;
    }
    .task-item-container:first-of-type {
        .task-title::before {
            @include before-pseudo-style;
            content: "Task";
        }
    }
    .task-item-container:first-of-type {
        .task-priority::before {
            @include before-pseudo-style;
            content: "Priority";
            right: 0;
        }
    }
    .task-item-container:first-of-type {
        .task-date::before {
            @include before-pseudo-style;
            content: "Due Date";
        }
    }
}

.hidden {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background-color: $footer;
}

/* Modal screen */
.modal {
    color: $modal-text;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 1;
    background-color: $modal-bg;
    width: min(90%, 350px);
    font-size: 1rem;
    font-weight: 600;
    box-shadow: $shadow;
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
.modal h3 {
    padding: 0.7rem 1rem;
    color: $modal-title;
    background-color: $modal-header;
}
#edit-task-form, #edit-project-form,#project-form, #task-form {
    padding: 1rem;
    input, select {
        box-shadow: $shadow;
        border: 1px solid $modal-header;
        padding: 5px;
        width: 100%;
        margin-bottom: 0.5rem;
        margin-top: 0.25rem;
        background-color: white;
    }
    button {
        cursor: pointer;
        font-size: 0.9rem;
        color: white;
        background-color: $form-button;
        border: none;
        border-radius: 3px;
        padding: 0.2rem 0.6rem;
        margin-left: auto;
    }
    button:hover {
        background-color: $form-button-hover;
    }
}
#project-form {
    background-color: $task-bg-checked;
    padding: 1rem 1rem;
}
#task-form {
    padding: 1rem 1rem;
    background-color: rgba($task-bg-checked, 0.25);
}

#overlay {
    transition: z-index 1s ease;
    position: fixed;
    z-index: 0;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $modal-overlay;
    pointer-events: none; 
}
#overlay.active {
    opacity: 1;
    pointer-events: all;  /*  Avoids clicking the elements underneath the modal container */
}